{{$currentNode := .}}
{{$currentSection := .CurrentSection }}

<div class="docs-menu">
<h4><a href="{{ .URL}}">{{ $currentSection.Title }}</a></h4>
  <ul>
    {{ range $currentSection.Pages }}
      <li>
        <a
          class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active{{end}}"
          href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
</div>

{{ if ne $currentSection.Parent $currentSection }}
  {{ if not $currentSection.Parent.IsHome }}
    <div style="font-size: 90%; margin-top: 40px;">
      <a href="{{$currentSection.Parent.URL }}">« {{ $currentSection.Parent.Name }}</a>
    </div>
  {{ end }}
{{ end }}